[Unit]
Description=Team Rudra's hardware interaction layer

[Service]
Type=simple
ExecStart=/opt/spine/spine
Restart=on-failure
RestartSec=30s
StandardError=journal
StandardOutput=journal
StandardInput=null

[Install]
WantedBy=multi-user.target
