[Unit]
Description=Team Rudra's hardware interaction layer

[Service]
Type=simple
ExecStart=/usr/bin/spine
Restart=on-failure
RestartSec=5s
StandardError=journal
StandardOutput=journal
StandardInput=null

[Install]
WantedBy=multi-user.target
